@use 'bootstrap/scss/bootstrap';

// palette de couleur
$bleu-fonce: #00497c;
$bleu-clair: #0074c7;
$blanc: #f1f8fc;
$gris-fonce: #384050;
$rouge: #cd2c2e;

// style commun
body {
    background-color: $blanc;
    color: $gris-fonce;
    font-family: 'Graphik', sans-serif;
}

.header {
    background-color: $bleu-clair;
}

.logo {
    height: 100%;      /* prend toute la hauteur du header */
    max-height: 110px;  /* optionnel pour limiter */
    width: auto;       /* garde les proportions */
  object-fit: contain;
}
      
.header .nav-link {
    font-size: 18px;
}
.header .nav-link:hover {
    text-decoration:underline;  
}

.footer {
    background-color: $bleu-clair;
    color: $blanc;
}

// les cartes
.card-artisan {
    border: 0.5px solid $bleu-clair;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.etoiles {
    color: $rouge;
}

// bouton 
.btn-principal {
    background-color: $bleu-clair;
    color: $blanc;
    border: none;

    &:hover {
        background-color: $bleu-fonce;
        color: $blanc;
    }
}
